/*CSS*/

#navLaeral {
    
    position:absolute;
    top: 0px;
    left:0px;
    width: 13%; 
    height:100%;
}

#contenidoPrincipal {
    
    position:absolute;
    top: 0px;
    right:0px;
    width: 87%; 
    height:100%;
}

#navVarraPrincipal {
    
    position:absolute;
    top: 0px;
    right:0px;
    width: 100%; 
    height:7%;
}

/* VISOR UNO*/
#visorUno {
    border: 1px solid #000;
    position:absolute;
    top: 8%;
    right:1%;
    width: 98%; 
    height:35%;
}

#navVisorUno {
    position:absolute;
    top: 0%;
    right:0%;
    width: 100%; 
    height:25%;
}

#contenidoVisorUno {
    position:absolute;
    top: 25%;
    right:0%;
    width: 100%; 
    height:75%;
    overflow-y: scroll;
}

	
#liCardDevices {
  float: left;
  margin: 10px;
  list-style-type: none;
}

#divCardDevice {
    width: 150px; 
    height: 150px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #b2bef5);
}

#divCardDevice:hover {
    width: 150px; 
    height: 150px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #444);
}

#imgDeviceType {
    width: 100px; 
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* VISOR DOS */

#visorDos {
    border: 1px solid #000;
    position:absolute;
    top: 44%;
    right:61%;
    width: 38%; 
    height:55%;
    
}

#contenidoVariablesVisorDos {
    overflow-y: scroll;
    border: 1px solid #000;
    position:absolute;
    top: 10%;
    right:5%;
    width: 60%; 
    height:85%;
}

#variableItemVisorDos {
    width: 100%; 
    height:15%;
    
    
}

.variableItemVisorDos:hover {
    width: 100%; 
    height:15%;
    background-color: #e0e4f6;
}


.ItemVariableVisorTres {
    border: 1px solid lightblue;
    
}

.ItemVariableVisorTres:hover {
    background-color: lightgrey;
}


/* new device  */

#btnDeleteVisorDos {
    top: 80%;
    left: 5%;
    position: absolute;
}


/* VISOR TRES */

#visorTres {
    border: 1px solid #000;
    position:absolute;
    top: 44%;
    right:1%;
    width: 59%; 
    height:55%;
}

#contenidoVisorTres {
    border: 1px solid #000;
    position:absolute;
    top: 30%;
    right:1%;
    width: 98%; 
    height:69%;
    overflow-y: scroll;
}

#navVarVisorEnvents {
    border: 1px solid #000;
    position:absolute;
    width: 100%; 
    height:10%;
}

#btnNavVarEvents1 {
    position:absolute;
    top: 10%;
    left: 10%;
    width: 20px; 
    height:20px;
}

#btnNavVarEvents2 {
    position:absolute;
    top: 10%;
    left: 30%;
    width: 20px; 
    height:20px;
}